body {
    font-family: Arial;
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    margin: 30px;
    color: snow;
}

.tabMenu {
    width: 100%;
    background: hsl(0, 0%, 93%);
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    list-style-type: none;
    color: black;
    font-weight: 900;
}
.tabMenu li {
    cursor: pointer;
    float: left;
    background: hsl(0, 0%, 93%);
    padding: 10px 0;
    margin: 0;
   }
.tabMenu span {
    padding: 12px 20px;
}
.tabMenu li.active {
    background: hsl(0, 0%, 31%);   
    color: #fff;
}
.tabMenu li:hover {
    background: hsl(0, 0%, 31%);
    color: #fff;
}
.tabContent {
    display: none;
}
.tabs {
    margin: 15px 0 0;
}

/* Estilo básico para checkboxes */
input[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: none; /* Remover el estilo por defecto en WebKit/Blink */
    -moz-appearance: none; /* Remover el estilo por defecto en Firefox */
    margin: 1px;
    width: 20px; /* Ancho del checkbox */
    height: 20px; /* Altura del checkbox */
    border: 2px solid #999; /* Borde del checkbox */
    border-radius: 16px; /* Bordes redondeados */
    background-color: #e7e6e7; /* Color de fondo */
    cursor: pointer; /* Cambiar el cursor a tipo puntero */
    transform: scale(0.85)
}

    /* Estilo cuando el checkbox está marcado */
    input[type="checkbox"]:checked {
        background-color: #7b68ee; /* Color de fondo cuando está seleccionado */
        border-color: #4b0082; /* Color del borde cuando está seleccionado */
    }

/* Estilo para el texto que se muestra al seleccionar el checkbox */
#text, #text2 {
    font-family: Arial, sans-serif; /* Tipo de fuente */
    color: #333; /* Color del texto */
    padding: 8px; /* Espaciado interno */
}
